<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Super Generator !
  </h1>


  <div>


    <table>

      <tr *ngFor="let line of result; let first = first; let last = last">
        <ng-container *ngIf="first || last; else field">
          <th *ngFor="let value of line">
            <div [ngSwitch]="value">
              <ng-container *ngSwitchCase="'entry'">
                <img class="arrow" src="../assets/arrow-down-c.png" alt="sortie">
              </ng-container>
              <ng-container *ngSwitchCase="'exit'">
                <img class="arrow" src="../assets/arrow-down-c.png" alt="sortie">
              </ng-container>
            </div>
          </th>
        </ng-container>

        <ng-template #field>
          <th class="square" *ngFor="let value of line">
            <div [ngSwitch]="value">
              <ng-container *ngSwitchCase="'block'">X</ng-container>
            </div>
          </th>
        </ng-template>

      </tr>

    </table>

    <div>
      Informations :
      <p>Total : {{total}}</p>
    </div>
  </div>


  <button type="button" (click)="generateField()">
    Générer un terrain
  </button>

</div>
