.field{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px transparent solid;
}

.doable{
  border: 1px green solid;
}


table {
  border-spacing: 0;
  margin: auto;
}

.square-size {
  width: 20px;
  height: 20px;
}

.square {
  border: 1px black solid;
}

.arrow{
  width: 20px;
  height: 20px;
}
