.field{
  padding-left: 20px;
  padding-right: 20px;
}


table {
  border-spacing: 0;
  margin: auto;
}

.square-size {
  width: 20px;
  height: 20px;
}

.square {
  border: 1px black solid;
}

.arrow{
  width: 20px;
  height: 20px;
}
